.Navigation {
    height: 54px;
    background-color: $color-navy;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        padding-left: 0;

        a:nth-child(1) {
            border-bottom: 2px solid white;
        }
    }

    &-item {
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(189,189,189,0.12);
        }

        img {
            margin-right: 8px;
        }
    }
}